<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pickup-calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-pickup-call-card status="hold" updatedAt="25/02/2023 16:40" createdAt="24/02/2023"
    notes="Lorem ipsum dolor, sit amet consectetur adipisicing elit."></app-pickup-call-card>
  
  <app-pickup-call-card status="processing" updatedAt="21/01/2023 19:33" createdAt="04/01/2023"
    notes="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos id odit, modi illum inventore fuga nemo, dolorem temporibus"></app-pickup-call-card>
  
  <app-pickup-call-card status="finished" updatedAt="14/01/2023 12:23" createdAt="01/01/2023" value="15,00"></app-pickup-call-card>
</ion-content>
