<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <div class="flex-center">
          <ion-card-title color="success">Reciclica</ion-card-title>        
        </div>
      </ion-card-header>
    
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-input label="Email" labelPlacement="floating" placeholder="Enter text" type="email" id="email"></ion-input>
          </ion-item>  
          <ion-item>
            <ion-input label="Password" labelPlacement="floating" placeholder="Enter text" type="password" id="password"></ion-input>
          </ion-item>
        </ion-list>           
        <ion-button color="dark" fill="clear" size="full">Forgot Email/Password</ion-button>
        <ion-button color="success" size="full">login</ion-button>
        <ion-button color="success" fill="clear" size="full">register</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
