<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pickup-call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="https://media.wired.com/photos/59269cd37034dc5f91bec0f1/191:100/w_1280,c_limit/GoogleMapTA.jpg" alt="map">
  <ion-card>
    <ion-card-content>
      <p>Address: lorem</p>
      <p>Complement: lorem</p>
      <p>Neighborhood: lorem</p>
      <p>Zip code: lorem</p>
      <p>City name - State</p>
    </ion-card-content>
  </ion-card>  
  <ion-list>
    <ion-item lines="none">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button color="success" size="full" (click)="home()">CREATE PICKUP-CALL</ion-button>
</ion-content>
